<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.mapper.member.BlackListMapper">
	<select id="getBlack" resultType="com.shop.vo.Black_tbl">
		SELECT * FROM black_tbl
	</select>
	
	<select id="getBlackWithPaging" resultType="com.shop.vo.Black_tbl">
			SELECT s_id, date FROM black_tbl LIMIT 10, 20
	</select>
</mapper>