<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.mapper.member.LoginMapper">
	<select id="idpwcheck" resultType="com.shop.vo.All_User_Tbl">
		select id, pw, seller from all_user_tbl where id = #{id}
	</select>
	<select id="emailcheck" resultType="com.shop.vo.All_User_Tbl">
		select email from all_user_tbl where email = #{email}
	</select>
	<select id="getid" resultType="com.shop.vo.All_User_Tbl">
		select id from all_user_tbl where email = #{email}
	</select>
	<update id="updatepw">
		update all_user_tbl set pw = #{pw} where email=#{email}
	</update>
	<select id="getAdmin" resultType="com.shop.vo.Admin_Tbl">
		select * from admin_tbl where id = #{id}
	</select>
</mapper>