<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.mapper.member.MyPageMapper">
	<select id="getuser" resultType="com.shop.vo.User_Tbl">
		select * from user_tbl where u_id = #{u_id}
	</select>
</mapper>