<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.mapper.member.RegisterMapper">
	<select id="idcheck" resultType="com.shop.vo.All_User_Tbl">
		select id from all_user_tbl where id = #{id}
	
	</select>
	<insert id="adduser">
		insert into user_tbl values(#{u_id},#{u_pw},#{name},#{phone},#{email},#{juso1},#{juso2},#{cars})
	</insert>
	<insert id="addseller">
		insert into seller_tbl values(#{s_id},#{s_pw},#{name},#{phone},#{email},#{addr},#{b_no},#{b_name})
	</insert>
	<insert id="alluser_adduser">
		insert into all_user_tbl values(#{u_id},#{u_pw},#{name},#{email},'N')
	</insert>
	<insert id="alluser_addseller">
		insert into all_user_tbl values(#{s_id},#{s_pw},#{name},#{email},'Y')
	</insert>
	
</mapper>