<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.mapper.product.CartMapper">
	<!-- 유저아이디로 장바구니테이블에서 상품목록을 가져온다.(BK/12.22) -->
	<select id="getUserCart" resultType="com.shop.vo.Cart_Tbl">
		select * from cart_tbl where u_id = #{u_id}
	</select>
	<insert id="addCart">
		insert into cart_tbl(u_id,p_no,pname,quantity,amount,total)
			values(#{u_id},#{p_no},#{pname},#{quantity},#{amount},#{total})
	</insert>
</mapper>