<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.mapper.product.CategoryMapper">

	<select id="category" resultType="com.shop.vo.Cat_Tbl">
		SELECT t1.c_name FROM
		cat_tbl AS
		t1 LEFT JOIN cat_tbl as t2
		ON t1.c_no = t2.c_parent
		WHERE t2.c_no IS
		NULL
	</select>

	<select id="cateParent" resultType="com.shop.vo.Cat_Tbl">
		select * from cat_tbl where
		c_parent=0
	</select>

	<select id="cateCheck" resultType="com.shop.vo.Cat_Tbl">
		select * from cat_tbl where
		c_parent=#{c_no}
	</select>


</mapper>