<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.product.ConfirmationMapper">
 	<select id ="orderList" resultType="com.shop.vo.Order_Histroy_Tbl">

		select * from order_history_tbl where u_id = #{u_id} order by order_date desc

 	</select>
	
	 <select id ="orderDateLists" resultType="com.shop.vo.Order_Histroy_Tbl">
	<![CDATA[
		select order_history_tbl.ono, order_history_tbl.pname, order_history_tbl.quantity, order_history_tbl.amount, order_history_tbl.pay, order_history_tbl.order_date, order_history_tbl.u_id, prod_tbl.p_no, prod_tbl.s_id as seller from prod_tbl join order_history_tbl on prod_tbl.p_no = order_history_tbl.p_no where u_id = #{u_id} and order_date like concat( #{order_date}, '%')
	]]>
 	</select>
	 
	<select id ="orderEventLists" resultType="com.shop.vo.Order_Histroy_Tbl">
	<![CDATA[
		select order_history_tbl.ono, order_history_tbl.pname, order_history_tbl.quantity, order_history_tbl.amount, order_history_tbl.pay, order_history_tbl.order_date, order_history_tbl.u_id, prod_tbl.p_no, prod_tbl.s_id as seller from prod_tbl join order_history_tbl on prod_tbl.p_no = order_history_tbl.p_no where u_id = #{u_id} and ono = #{ono} and order_date like concat('%',#{order_date}, '%')
	]]>
 	</select>

 	<select id ="formList" resultType="com.shop.vo.Order_Histroy_Tbl">
		
		select order_history_tbl.ono, order_history_tbl.pname, order_history_tbl.quantity, order_history_tbl.amount, order_history_tbl.pay, order_history_tbl.order_date, order_history_tbl.u_id, prod_tbl.p_no, prod_tbl.s_id as seller from prod_tbl join order_history_tbl on prod_tbl.p_no = order_history_tbl.p_no where u_id = #{u_id}

 	</select>

 	<select id ="getReturn" resultType="com.shop.vo.Order_Histroy_Tbl">

		select * from order_history_tbl where ono = #{ono}

 	</select>

 	<select id ="findSid" resultType="com.shop.vo.Prod_Tbl">

		select s_id from Prod_Tbl where p_no = #{p_no}

 	</select>

 	<select id ="findList" resultType="com.shop.vo.Prod_Tbl">

		select s_id from Prod_Tbl where p_no = #{p_no}

 	</select>
	
	<insert id="insertForms">
	
		insert into return_tbl values (#{ono}, #{u_id}, #{pname}, #{content}, now(), #{s_id})
	
	</insert>

 	<select id ="returnOne" resultType="com.shop.vo.Return_Tbl">

		select * from return_tbl where ono = #{ono}

 	</select>
	

</mapper>