<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.product.LikeMapper">
	<!-- 유저아이디로 장바구니테이블에서 상품목록을 가져온다.(BK/12.22) -->
	<select id="getUserLikedList" resultType="com.shop.vo.Like_Tbl">
		select * from Like_Tbl where u_id = #{u_id}
	</select>
	<insert id="addLike">
		insert into Like_Tbl(u_id,p_no)
			values(#{u_id},#{p_no})
	</insert>
	<delete id="deleteLike">
		delete like_tbl where u_id = #{u_id} and p_no = #{p_no}
	</delete>
</mapper>