<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="com.shop.mapper.product.ProductBuyMapper">
	<select id="getProductAll" resultType="com.shop.vo.Prod_Tbl">
		select * from prod_tbl
	</select>
	<select id="getProduct" resultType="com.shop.vo.Prod_Tbl">
		select * from prod_tbl where p_no = #{p_no}
	</select>
	<select id="getProductCategory" resultType="com.shop.vo.ProductCategoryJoin">
		select p.*,c.c_name,c.c_parent 
			from prod_tbl p 
				left outer join cat_tbl c 
					on p.c_no = c.c_no
						<if test="c_parent != null and c_parent != 0">where c.c_parent = #{c_parent} </if>
						<if test="c_no != null and c_no != 0 ">and c.c_no = #{c_no} </if>
						<if test="direction != null and direction != ''">order by ${direction}</if>
							
	</select>
</mapper>